@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio platzi</h1>
    <p>Aprende acerca de  <a href="https://www.youtube.com/watch?v=n8jmq8vcpIY&ab_channel=EmprendedorSerial">Empresas</a>.</p>
</div>
